<%- include('../partials/header') %>

<div class="container-fluid-content container-content">
    <h1>ADMIN PAGE</h1>

    <% if (currentUser){ %>
        <a class="nav-link" href="/admin/posts"><%= settings.adminPostsTitle %></a>
        <a class="nav-link" href="/admin/links"><%= settings.adminLinksTitle %></a>
        <a class="nav-link" href="/admin/donationLinks"><%= settings.adminDonationTitle %></a>
        <a class="nav-link" href="/admin/register"><%= settings.adminRegisterTitle %></a>
        <a class="nav-link" href="/admin/settings"><%= settings.adminSettingsTitle %></a>
        <a class="nav-link" href="/admin/logout"><%= settings.adminLogoutTitle %></a>
    <% } else { %>
        <form action="/admin/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login!">
        </form>
    <% } %>
</div>

<%- include('../partials/footer') %>