<%- include('../partials/header') %>

<div class="container-fluid container-content">
    <h1>Posts Administration</h1>
    
    <div class="container-fluid posts-container">
        <% posts.forEach(function(post){ %>
            <div class="row">
                <p class="admin-post-title"><%= post.title %></p>
                <form action="/posts/<%= post._id %>">
                    <button type="link">View</button>
                </form>
                <form action="/posts/<%= post._id %>/Edit" method="GET">
                    <button type="link">Edit</button>
                </form> 
                <!-- <a class="admin-post-link" href="/posts/<%= post._id %>"><p>View</p></a>
                <a class="admin-post-link" href="/posts/<%= post._id %>/Edit"><p>Edit</p></a> -->
                <form class="delete-form" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button type="link">Delete</button>
                </form>   
            </div>
        <% }); %>
    </div>

    <a class="admin-post-link" href="/admin/newPost"><p>Create New Post</p></a>
</div>

<%- include('../partials/footer') %>