<%- include('../partials/header') %>

<div class="container-fluid-content container-content">
    <form action="/admin/settings" method="POST">
        <h3>General Settings</h3>
        <hr>
        <label for="siteTitle">Site Title</label>
        <input type="text" name="siteTitle" placeholder="Site Title" value="<%= settings.siteTitle %>">
        <br>

        <hr>
        <h3>Header Settings</h3>
        <hr>

        <label for="headerLeftImageURL">Header Left Image URL</label>
        <input type="text" name="headerLeftImageURL" placeholder="Header Left Image URL" value="<%= settings.headerLeftImageURL %>">
        <br>

        <label for="headerTitle">Header Title</label>
        <input type="text" name="headerTitle" placeholder="Header Title" value="<%= settings.headerTitle %>">
        <br>

        <label for="headerRightImageURL">Header Right Image URL</label>
        <input type="text" name="headerRightImageURL" placeholder="Header Right Image URL" value="<%= settings.headerRightImageURL %>">
        <br>

        <hr>
        <h3>Home Settings</h3>
        <hr>
        <label for="homeLeftImageURL">Home Left Image URL</label>
        <input type="text" name="homeLeftImageURL" placeholder="Home Left Image URL" value="<%= settings.homeLeftImageURL %>">
        <br>

        <label for="homeAboutMe">Home About Me</label>
        <textarea id="homeAboutMe" name="homeAboutMe" rows="4" cols="50"><%= settings.homeAboutMe %></textarea>
        <br>

        <label for="homeAboutMeSignature">Home About Me Signature</label>
        <input type="text" name="homeAboutMeSignature" placeholder="Home About Me Signature" value="<%= settings.homeAboutMeSignature %>">
        <br>

        <label for="homeRightImageURL">Home Right Image URL</label>
        <input type="text" name="homeRightImageURL" placeholder="Home Right Image URL" value="<%= settings.homeRightImageURL %>">
        <br>

        <br>
        <hr>
        <button>Save All Changes</button>
    </form>
</div>

<%- include('../partials/footer') %>